/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f8f9fa;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #e9f2ff, #ffffff);
}

.app-title {
  font-size: 2.5rem;
  color: #007bff;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.boards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  width: 100%;
}


@media (max-width: 768px) {
  .board-lists-container {
      flex-direction: column; /* Cambiar a vertical en pantallas pequeñas */
      gap: 10px;
  }
}
